METACENTRUM_API_KEY=
LITELLM_MASTER_KEY=
UI_USERNAME=
UI_PASSWORD=

LITELLM_DISABLE_NO_REDIS_WARNING=true

# PostgreSQL
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Database connection used by LiteLLM
DATABASE_URL=postgresql://litellm:PASSWORDHEREEEEE@db:5432/litellm§
