HOMEPAGE_VAR_JELLYFIN_API_KEY=
HOMEPAGE_VAR_AUDIOBOOKSHELF_API_KEY=
HOMEPAGE_VAR_TUBEARCHIVIST_API_KEY=
HOMEPAGE_VAR_DOCKHAND_KEY=
HOMEPAGE_VAR_QBITTORRENT_PASSWORD=
HOMEPAGE_VAR_FRESHRSS_PASSWORD=
HOMEPAGE_VAR_PAPERLESS_PASSWORD=
HOMEPAGE_VAR_PROXMOX_PASSWORD=