# Read the documentation before extending the defaults:
# https://docs.searxng.org/admin/settings/

use_default_settings: true

server:
  secret_key: "CHANGE_ME_generate_with_openssl_rand_hex_32"
  image_proxy: true
